#appnope==0.1.0
djangorestframework-csv
rest-framework-generic-relations
django-pdb
#docutils
#gnureadline
#ipdb
#jmespath
#mongoengine==0.8.7
munch
py>=1.4.31
#pymongo==2.7.1
pytest>=3.0
python-dateutil
#sqlparse
svgwrite
tabulate==0.7.5
#traitlets==4.2.1
Pillow